@media (max-width: 921px) {
  .col-auto.col-md-3.col-xl-2.px-sm-2.px-0.bg-dark {
    display: none;
  }
}

.container-fluid {
    display: flex;
    flex-direction: row;
    
    
  }
  
  .col-auto.col-md-3.col-xl-2.px-sm-2.px-0.bg-dark {
    height: calc(94vh);
    
    
  }

  .bg-dark {
    background-color: rgb(153, 179, 219) !important; /* Replace with your desired color */
  }

  @media (max-width: 920px) {
    .sidebar {
      display: none;
    }
    .sidebar.show {
      display: block;
    }
  }

  .centered-text {
    color: black;
    text-align: center;
}

.aside-effect {
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2); /* This will add a shadow to the right side */
   
}