.custom-navbar {
  background-color: rgb(202, 217, 241); /* Replace with your desired color */
}

.me-auto {
  align-items: right;
}

@media (min-width: 1400px) {
  .custom-navbar .container {
    max-width: none;
  }
}

@media (max-width: 920px) {
    .custom-toggler {
      display: block !important;
      
    }
  }
  @media (min-width: 921px) {
    .custom-toggler {
      display: none !important;
    }
  }

  @media (max-width: 991px) {
    .navbar-nav {
      flex-direction: row !important;
    }
    .navbar-nav .nav-link {
      margin-right: 10px !important; /* Adjust as needed */
    }
  }

  .custom-navbar .container {
    padding-left: 2;
    padding-right: 0;
  }

