body, html {
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100vh; /* Ensure the container takes up the full height of the viewport */
}

/* Override Bootstrap's padding for columns */
.row > * {
  padding-right: 0;
  padding-left: 0;
}

.aside {
  max-width: 250px !important;
}
